<h2><%= @club.name %></h2>

<h3>Members</h3>
<ul>
<% @members.each do |m| %>
  <li><%= m.name %></li>
<% end %>
</ul>

<!-- add % ownership -->

<h3>Total Invested Capital</h3>
<%= number_to_currency(@total_invested) %>

<h3>Performance</h3>
charts here