<h2>Dashboard</h2>

<%= link_to "Create a new club", new_club_path %>

<!-- I should see links to join, create, or view a club -->
<h3>Clubs</h3>
<ul>
<% @clubs.each do |club| %>
  <li><%= link_to club.name, club %></li>
<% end %>
</ul>