
    <!-- Desktop Slider -->
      <div class="hide-for-small">
        <div id="featured" data-orbit>
              <img src="http://2.bp.blogspot.com/-s0iozj0eCmU/UCkqEDfDrgI/AAAAAAAAAEA/nwrxnhHquwI/s1600/stock+market.jpg" alt="blue stocks">
              <img src="http://farm4.staticflickr.com/3615/3378443046_b42a902fb5_z.jpg" alt="slide image">
              <img src="http://famouswonders.com/wp-content/uploads/2009/04/new-york-skyline-at-night.jpg" alt="slide image">
          </div>
        </div>
    <!-- End Desktop Slider -->

      </div>


  <script>
  document.write('<script src=js/vendor/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
  <script src="js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#featured').orbit({ fluid: '2x1' });
    });
  </script>