development:
  adapter: postgresql
  encoding: unicode
  database: sri-rails_development
  host: localhost
  pool: 5
  username: postgres
  password: Orguss02!

test:
  adapter: postgresql
  encoding: unicode
  database: sri-rails_test
  host: localhost
  pool: 5
  username: postgres
  password: Orguss02!