development:
  adapter: postgresql
  encoding: unicode
  database: sri-rails_development
  pool: 5
  username: YOUR USERNAME HERE
  password: YOUR PASSWORD HERE

test:
  adapter: postgresql
  encoding: unicode
  database: sri-rails_test
  pool: 5
  username: YOUR USERNAME HERE
  password: YOUR PASSWORD HERE
